---
apiVersion: v1
kind: Secret
metadata:
  name: "{{prdapp_secret_name}}"
  namespace: "{{prd_namespace}}"
data:
  database.user: {{database.user}}
  database.password: {{database.password}}
  default.user.name.ui: {{ui.default_user}}
  default.user.password.ui: {{ui.default_password}}
type: Opaque
